.phoneNumberBox {
  padding: 16px 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 740px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(216, 230, 253, 0.08);
}

.phoneNumberBoxLeft {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.phoneNumberBoxRight {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  
  letter-spacing: -0.02em;

  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.phoneNumberBox img {
  width: 32px;
  height: 32px;
}

.phoneNumberResult {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-align: left;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.phoneNumberResultStatus {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.availableBorder {
  background: rgba(216, 230, 253, 0.08);
  border: 1px solid #489D5D;
  border-radius: 8px;
}

.notAvailableBorder {
  background: rgba(216, 230, 253, 0.08);
  border-radius: 8px;
  border: 1px solid #E59448;
}