.authenticationPageReal{
    color: white;
}

.apr-navbar{

    display: flex;
    justify-content: center;
    align-items: center;
}

.apr-icon{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.text, .sub-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 20px 0 10px 0;
}

.sub-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

.apr-input .text{
    display: flex;
    /* justify-content: flex-start; */
    margin-bottom: -1px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 3rem;
}

.input-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

select{
    height: 50px;
    width: 60px;
    border: 1px solid black;
    border-radius: 7px 0 0 7px;
}

input{
    height: 46px;
    width: 360px;
    border: 1px solid black;
    border-radius: 7px;
}

.apr-btn{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button{
    width: 365px;
    height: 35px;
    border: none;
    border-radius: 17px;
    border-radius: 32px;
    background: #2070F4;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.70);
    color: white;
    font-weight: 500;

}


.apr-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}  


.copyright{
    display: flex;
    justify-content: center;
}

.hardcode{
    color: red;
}