.landing-content{
    
}

.ud-logo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo{
    height: 40px;
}

.landing-heading{
    color: white;
    margin-top: 35px;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -3.12px;
}

.landing-subheading{
    color: #A7C3FB;
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.56px;
}

.landing-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 25px;
}

.landing-btn button{
    border-radius: 25px;
    height: 50px;
    width: 130px;
    font-size: 20px;
    color: white;
    z-index: 100;
}

.signup-btn{
    border: 2px solid #2070F4;
    background: #2070F4;
}

.login-btn{
    border-radius: 80px;
    border: 2px solid #2070F4;
    background: transparent;
}

button:hover{
    cursor: pointer;
}

.landing-image{
}

.img-ellipse{
    width: 98.6vw;
    margin-top: -80px;
}