.cartWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cartWrapper h4 {
  margin: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
}

.cartWrapper p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  text-align: left;
  color: #d8e4fd;
  margin: 0;
  margin-bottom: 16px;
}

.cartWrapperColumn {
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(51, 63, 92, 0.7);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.cartWrapperTotalCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(51, 63, 92, 0.7);
}

.cartWrapperSubtotal {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  color: #d8e4fd;
}

.cartWrapperPrice {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */

  text-align: right;

  color: #ffffff;
}

.cartWrapperTotal {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  color: #ffffff;
}

.cartWrapperCoupon {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.cartWrapperCouponForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartWrapperCouponForm input {
  background: #1f2138;
  border: 1px solid #384160;
  border-radius: 8px;

  padding: 10px 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #d8e4fd;
  outline: none;
  width: 246px;
}

.cartWrapperCouponForm input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #7b8db7;
}

.cartWrapperCouponForm button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
  outline: none;
  border: none;
  background: #2070f4;
  border-radius: 32px;

  cursor: pointer;
  padding: 14px 18px;
}
